# GitHub
VITE_GITHUB_URL=https://github.com/LoganX64/Latex-resume-gen

# API
VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_DEV_SERVER_PORT=5173
VITE_COMPILE_API_KEY=

# Encryption
VITE_ENCRYPTION_KEY=

# Sentry
VITE_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
